{% load static %}
{% for question in questions %}
<div class="u-question card border-0 mb-3 p-4">
    <h3 class="py-2 mb-2 card-header bg-transparent">
        {{ question.title }}
    </h3>
    <div class="card-body row mx-0">
        <div class="col-md-1">
            <img class="mx-auto" width="30" height="auto" src="{% static 'img/angleup.png' %}" alt="up">
            <p class="text-center mb-0 mx-auto">{{ question.votes }}</p>
            <img class="mx-auto" width="30" height="auto" class="" src="{% static 'img/angledown.png' %}" alt="dn">
        </div>
        <div class="col-md-11">
            <p>
                <span>{{ question.question }}</span>
                <!-- <div class="card-img">
                    <img class="w-100" src="{% static 'img/error1.png' %}" alt="">
                </div> -->
            </p>
            <div class="float-right bg-primary p-1 border-secondary rounded">
                <p class="mb-0">
                    Asked {{ question.date_asked | date:"M, d Y"}}</p>
                <div class="my-1 d-flex">
                    <div class="f-p-photo dp-sm rounded-circle">
                        <img class="h-100" src="{% static 'img/person1.jpg' %}" alt="dpic">
                    </div>
                    <p class="mb-0 d-flex align-self-center pl-2">
                        {{ question.author.profile.user_name }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if uestion.answers.all is None %}
    <h5>Be the first to answer</h5>
    {% else %}
    <div class="border-bottom px-4">
        <h5>Answers</h5>
    </div>
    {% for answer in question.answers.all %}
    <span class="pr-3">{{ question.answers.all.count }}</span>
    <span>Answers</span>
    <div class="card-body row mx-0 answers border-bottom py-2 mb-3">
        <div class="col-md-1">
            <img class="mx-auto" width="30" height="auto" src="{% static 'img/angleup.png' %}" alt="up">
            <p class="text-center mb-0 mx-auto">{{ answer.votes }}</p>
            <img class="mx-auto" width="30" height="auto" class="" src="{% static 'img/angledown.png' %}" alt="dn">
        </div>
        <div class="col-md-10">
            <p>
                {{ answer.answer }}
            </p>
            <div class="float-right bg-light p-2 border-secondary rounded">
                <p class="mb-0">
                    <span>Answered</span>
                    <span>{{ answer.date_answered | date:"M, d Y"}}</span>
                </p>
                <div class="my-1 d-flex">
                    <div class="f-p-photo dp-sm rounded-circle">
                        <img class="h-100" src="{{ answer.author.profile.d_pic.url }}" alt="dpic">
                    </div>
                    <p class="mb-0 d-flex align-self-center pl-2">
                        <span>{{ answer.author.profile.user_name }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div>
        <div class="card-header">
            <h5 class="text-dark alitce ">Add an answer</h5>
        </div>
        <div class="card-body p-0 form-group">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group p-2">
                    <input type="hidden" name="query_id" value="{{ question.id }}">
                    <textarea class="form-control w-100" name="answer" rows="5" required id="id_answer"></textarea>
                    <button class="btn btn-info btn-sm float-right my-2" type="submit">Submit Answer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}